<div class="account-container">
  <h1>Modifier mon compte</h1>
  <button (click)="onLogout()">Déconnexion</button>
  <button (click)="onClick()">Rafraîchir</button>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="nom">Nom</label>
      <input id="nom" formControlName="nom" />
      <div *ngIf="accountForm.get('nom')?.invalid && accountForm.get('nom')?.touched">
        <small *ngIf="accountForm.get('nom')?.errors?.['required']">Nom requis.</small>
        <small *ngIf="accountForm.get('nom')?.errors?.['minlength']">Le nom doit avoir au moins 2 caractères.</small>
      </div>
    </div>

    <div>
      <label for="prenom">Prénom</label>
      <input id="prenom" formControlName="prenom" />
      <div *ngIf="accountForm.get('prenom')?.invalid && accountForm.get('prenom')?.touched">
        <small *ngIf="accountForm.get('prenom')?.errors?.['required']">Prénom requis.</small>
        <small *ngIf="accountForm.get('prenom')?.errors?.['minlength']">Le prénom doit avoir au moins 2 caractères.</small>
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" />
      <div *ngIf="accountForm.get('email')?.invalid && accountForm.get('email')?.touched">
        <small *ngIf="accountForm.get('email')?.errors?.['required']">Email requis.</small>
        <small *ngIf="accountForm.get('email')?.errors?.['email']">Email invalide.</small>
      </div>
    </div>

    <button type="submit" [disabled]="accountForm.invalid">Sauvegarder les modifications</button>
  </form>
</div>
